@import "_bookmarksPage.scss";

$button-border-color: #202020;
$tile-bg: #242424;
$tile-bg-hover: #1b1b1b;
$tile-shadow-hover: 1px 1px 1px 1px #00000080;
$tile-shadow: 2px 2px 2px 2px #00000080;

%bar {
    background-color: $tile-bg;
    box-shadow: 0px 0px 3px 3px #00000080;
}

%bar-btn {
    color: #FFFFFF;
}

%bar-btn-hover {
    background-color: $tile-bg-hover;
}

header {
    @extend %bar;
}

div.header-btn {
    @extend %bar-btn;
    border-left: 1px solid $button-border-color;
}

div.header-btn:hover {
    @extend %bar-btn-hover;
}

div.header-text {
    @extend %bar-btn;
}

nav {
    @extend %bar;
}

nav div {
    @extend %bar-btn;
    border-bottom: 1px solid $button-border-color;
}

nav div:hover {
    @extend %bar-btn-hover;
}

div.link {
    background-color: $tile-bg;
    box-shadow: $tile-shadow;
}

div.delete-btn {
    background-color: #3f3f3f;
    color: #ffffff;
    border: 1px solid $button-border-color;
}

div.delete-btn:hover {
    background-color: #2e2e2e;
    color: #ffffff;

}

div.link:hover {
    background-color: $tile-bg-hover;
    box-shadow: $tile-shadow-hover;
}

div.action {
    background-color: $tile-bg;
    box-shadow: $tile-shadow;
}

div.action:hover {
    box-shadow: $tile-shadow-hover;
    background-color: $tile-bg-hover;
}