$btn-padding: 1em;

body {
    display: grid;
    margin: 0px;
    grid-template-columns: minmax(200px, 20vw) auto;
    grid-template-rows: minmax(50px, 3vh) auto;
    height: 100vh;
}

header {

    grid-column: 1 3;
    grid-row: 1 1;
    display: flex;
    justify-content: end;
    background-color: red;
    color: white;
}

div.header-btn {
    padding: $btn-padding;
}

nav {
    grid-column: 1 2;
    grid-row: 2 3;
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: white;
}

nav div {
    padding: $btn-padding;
}