@import "_bookmarksPage.scss";

$button-border-color: #b3b3b3;
$tile-bg: #fcfcfc;
$tile-bg-hover: #dbdbdb;
$tile-shadow-hover: 1px 1px 1px 1px #27272780;
$tile-shadow: 2px 2px 2px 2px #27272780;

%bar {
    background-color: $tile-bg;
    box-shadow: 0px 0px 3px 3px #00000080;
}

%bar-btn {
    color: #000000;
}

%bar-btn-hover {
    background-color: $tile-bg-hover;
}

header {
    @extend %bar;
}

div.header-btn {
    @extend %bar-btn;
    border-left: 1px solid $button-border-color;
}

div.header-btn:hover {
    @extend %bar-btn-hover;
}

div.header-text {
    @extend %bar-btn;
}

nav {
    @extend %bar;
}

nav div {
    @extend %bar-btn;
    border-bottom: 1px solid $button-border-color;
}

nav div:hover {
    @extend %bar-btn-hover;
}

div.link {
    background-color: $tile-bg;
    box-shadow: $tile-shadow;
}

div.delete-btn {
    background-color: #d8d8d8;
    color: #0f0f0f;
    border: 1px solid $button-border-color;
}

div.delete-btn:hover {
    background-color: #b6b6b6;
    color: #0f0f0f;

}

div.link:hover {
    background-color: $tile-bg-hover;
    box-shadow: $tile-shadow-hover;
}

div.action {
    background-color: $tile-bg;
    box-shadow: $tile-shadow;
}

div.action:hover {
    box-shadow: $tile-shadow-hover;
    background-color: $tile-bg-hover;
}